<!doctype html>
<html class="no-js" lang="zxx">
    
    <%- include('./includes/Head.ejs') %> 

   <body>

    <%- include('./includes/Preloader.ejs') %> 

    <%- include('./includes/Header.ejs') %> 

    <main>

        <!-- Hero Area Start-->
        <!-- <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Create Job</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div> -->
        <!-- Hero Area End -->
        

        <form action="/<%= edit ? 'edit-job':'create-job' %>" method="POST" class="my-5 container w-75" novalidate>
            <h1 style="font-weight: 700;" class="mb-5"><%= edit ? 'EDIT JOB':'CREATE JOB' %></h1>

            <div class="d-flex">
                <div class="mr-3 w-50">
                    <label for="">Agency</label>
                    <input type="text" name="agency" placeholder="" value="<%= edit ? job.agency:'' %>"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                    class="single-input">
                </div>

                <div class="ml-3 w-50">
                    <label for="">Role</label>
                    <input type="text" name="role" placeholder="" value="<%= edit ? job.role:'' %>"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                        class="single-input">                  
                </div>
            </div>

            <div class="mt-30 d-flex">
                <div class="w-50 mr-3">
                    <label for="">Country</label>
                    <div class="input-group-icon">
                        <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select"">
                            <select name="country">
                                <option>-- Select --</option>
                                <option <% if(edit){ %><%= job.location.country==='Ghana'?"selected":"" %><% } %> value="Ghana">Ghana</option>
                                <option <% if(edit){ %><%= job.location.country==='Nigeria'?"selected":"" %><% } %> value="Nigeria">Nigeria</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="w-50 ml-3">
                    <label for="">City</label>
                    <div class="input-group-icon">
                        <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select"">
                            <select name="city">
                                <option>-- Select --</option>
                                <option <% if(edit){ %><%= job.location.city==='Accra'?"selected":"" %><% } %> value="Accra">Accra</option>
                                <option <% if(edit){ %><%= job.location.city==='Lagos'?"selected":"" %><% } %> value="Lagos">Lagos</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-30 d-flex">
                <div class="mr-3">
                    <label for="">Salary(From)</label>
                    <input type="number" name="salary_from" placeholder=""  value="<%= edit ? job.salary.from:'' %>"
                        onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                        class="single-input">
                </div>

                <div class="mx-3">
                    <label for="">Salary(To)</label>
                    <input type="number" name="salary_to" placeholder="" value="<%= edit ? job.salary.to:'' %>"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                    class="single-input">
                </div>

                <div class="mx-3">
                    <label for="">No. of People Needed</label>
                    <input type="number" name="vacancy_av" placeholder="" value="<%= edit ? job.vacancy_av:'' %>"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                    class="single-input">
                </div>

                <div class="ml-3">
                    <label for="">Job Nature</label>
                    <div class="default-select" id="default-select"">
                        <select name="nature">
                            <option>-- Select --</option>
                            <option <% if(edit){ %><%= job.nature==='Full-Time'?"selected":"" %><% } %> value="Full-Time">Full-Time</option>
                            <option <% if(edit){ %><%= job.nature==='Part-Time'?"selected":"" %><% } %> value="Part-Time">Part-Time</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mt-30">
                <label for="">Description</label>
                <textarea name="description" class="single-textarea" placeholder="" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = ''" required><%= edit ? job.description:'' %></textarea>
            </div>

            <div class="mt-30">
                <label for="">Required Knowledge, Skills, Abilities</label>
                <textarea name="abilities" class="single-textarea" placeholder="" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = ''" required><% if(edit){ %><% for(ability of job.abilities){ %><%= ability+"\r\n" %><% } %><% } %></textarea>
            </div>

            <div class="mt-30">
                <label for="">Education and Experience</label>
                <textarea name="experience" class="single-textarea" placeholder="" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = ''" required><% if(edit){ %><% for(experience of job.experience){ %><%= experience+"\r\n" %><% } %><% } %></textarea>
            </div>
            
            <% if(edit){ %>
                <input type="hidden" name="jobId" value="<%= job._id %>">
            <% } %>  
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <button type="submit" class="genric-btn primary e-large mt-30">Done</button>
        </form>

    </main>

    <%- include('./includes/Footer.ejs') %> 

	<!-- JS here -->
	
        <%- include('./includes/Scripts.ejs') %> 
        
    </body>
</html>