<!doctype html>
<html class="no-js" lang="zxx">
    
    <%- include('./includes/Head.ejs') %> 

   <body>

    <%- include('./includes/Preloader.ejs') %> 

    <%- include('./includes/Header.ejs') %> 

    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Create Job</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        

        <form action="/create-job" method="POST" class="my-5 container">

            <div class="mt-10 d-flex">
                <input type="text" name="agency" placeholder="Agency of Role"
                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Agency of Role'" required
                class="single-input mr-3">

                <input type="text" name="role" placeholder="Role Needed"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Role Needed'" required
                    class="single-input ml-3">                  
            </div>

            <div class="mt-30 d-flex">
                <div class="input-group-icon w-50 mr-3">
                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <div class="form-select" id="default-select"">
                        <select name="country">
                            <option>Country</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Nigeria">Nigeria</option>
                        </select>
                    </div>
                </div>

                <div class="input-group-icon w-50 ml-3">
                    <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                    <div class="form-select" id="default-select"">
                        <select name="city">
                            <option>City</option>
                            <option value="Accra">Accra</option>
                            <option value="Lagos">Lagos</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="mt-30 d-flex">
                <input type="number" name="salary_from" placeholder="Salary(From)"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Salary(From)'" required
                    class="single-input mr-3">

                    <input type="number" name="salary_to" placeholder="Salary(To)"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Salary(To)'" required
                    class="single-input mx-3">

                    <input type="number" name="vacancy_av" placeholder="Number of People Needed"
                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number of People Needed'" required
                    class="single-input mx-3">

                    <div class="default-select ml-3" id="default-select"">
                        <select name="nature">
                            <option>Job Nature</option>
                            <option value="1">Fulltime</option>
                            <option value="1">Part-Time</option>
                        </select>
                    </div>
            </div>

            <div class="mt-30">
                <textarea name="description" class="single-textarea" placeholder="Job Description" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Message'" required></textarea>
            </div>

            <div class="mt-30">
                <textarea name="abilities" class="single-textarea" placeholder="Required Knowledge, Skills, Abilities" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Required Knowledge, Skills, Abilities'" required></textarea>
            </div>

            <div class="mt-30">
                <textarea name="experience" class="single-textarea" placeholder="Education + Experience" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Education + Experience'" required></textarea>
            </div>
            
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <button type="submit" class="genric-btn primary e-large mt-30">Done</button>
        </form>

    </main>

    <%- include('./includes/Footer.ejs') %> 

	<!-- JS here -->
	
        <%- include('./includes/Scripts.ejs') %> 
        
    </body>
</html>