<!doctype html>
<html class="no-js" lang="zxx">
    
    <%- include('./includes/Head.ejs') %> 

   <body>
    <!-- Preloader Start -->
    <%- include('./includes/Preloader.ejs') %> 
    <%- include('./includes/Header.ejs') %> 

    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>UI/UX Designer</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a><img src="/assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a>
                                        <h4><%= job.role %></h4>
                                    </a>
                                    <ul>
                                        <li><%= job.agency %></li>
                                        <li><i class="fas fa-map-marker-alt"></i><%= job.location.city %>, <%= job.location.country %></li>
                                        <li>$<%= job.salary.from %> - $<%= job.salary.to %></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p><%= job.description %></p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <% for(ability of job.abilities){ %> 
                                    <li><%= ability %></li>
                                   <% } %> 
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Education + Experience</h4>
                                </div>
                               <ul>
                                <% for(experience of job.experience){ %> 
                                    <li><%= experience %></li>
                                   <% } %>
                               </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span><%= job.createdAt %></span></li>
                              <li>Location : <span><%= job.location.city %></span></li>
                              <li>Vacancy : <span>0<%= job.vacancy_av %></span></li>
                              <li>Job nature : <span><%= job.nature %></span></li>
                              <li>Salary :  <span>$<%= job.salary.from %> - $<%= job.salary.to %>  yearly</span></li>
                              <!-- <li>Application date : <span>12 Sep 2020</span></li> -->
                          </ul>
                         <div class="apply-btn2">
                            <a href="#" class="btn">Apply Now</a>
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span><%= job.company.name %></span>
                              <p><%= job.company.description %></p>
                            <ul>
                                <li>Name: <span><%= job.company.name %></span></li>
                                <li>Web : <span><%= job.company.website %></span></li>
                                <li>Email: <span><%= job.company.email %></span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- job post company End -->

    </main>
    
    <%- include('./includes/Footer.ejs') %> 
        
    <%- include('./includes/Scripts.ejs')  %> 

    </body>
</html>